Source: ros-humble-callback-isolated-executor
Section: misc
Priority: optional
Maintainer: "Takahiro Ishikawa-Aso" <sykwer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-cie-config-msgs, ros-humble-cie-thread-configurator, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-std-msgs, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/callback_isolated_executor/#humble
Standards-Version: 3.9.2

Package: ros-humble-callback-isolated-executor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-cie-config-msgs, ros-humble-cie-thread-configurator, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-std-msgs, ros-humble-ros-workspace
Description: Component container and executor assigning a dedicated thread to each callback group.
